@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;700&display=swap");

:root {
  --primary-color: rgb(239, 239, 239);
  --secondary-color: rgb(33, 37, 41);
  --tertiary-color: rgba(252, 70, 107, 1);
  --background-color: rgb(233, 236, 239);
  --box-shadow-color: rgba(0, 0, 0, 0.35);
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    315deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(134, 91, 204, 1) 26%,
    rgba(201, 86, 221, 1) 57%,
    rgba(226, 73, 127, 1) 83%,
    rgba(252, 70, 107, 1) 100%
  );
  font-family: "Barlow", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.meme-header-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  text-decoration: none;
}

.title {
  width: 100%;
  font-size: 3rem;
  line-height: 3.4rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--primary-color);
}

.title-description {
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-color);
  text-align: center;
  font-family: Barlow, sans-serif;
}

.logo {
  max-width: 5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem 1rem 1rem;
}

.meme-title {
  width: 100%;
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme-lord {
  font-size: 2.6rem;
  line-height: 3rem;
  color: var(--secondary-color);
  text-align: center;
}

.meme-howto {
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 700;
  color: var(--primary-color);
  cursor: pointer;
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  transition: color ease-in-out 0.2s;
}

.meme-howto:hover,
.meme-howto:focus {
  color: var(--secondary-color);
}

.meme-howto-modal-content {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--background-color);
  text-align: center;
  padding: 2rem 2.25rem;
  width: 100%;
  max-width: 45rem;
  border-radius: 0.5rem;
  text-align: left;
  box-shadow: var(--box-shadow-color) 0rem 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.meme-howto-modal-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0rem;
}

.meme-howto-modal-close {
  font-size: 3rem;
  line-height: 1.2rem;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  transition: all 0.2s;
}

.meme-howto-modal-close:hover,
.meme-howto-modal-close:focus {
  color: var(--tertiary-color);
  cursor: pointer;
  transform: scale(2);
}

.meme-howto-modal-content {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.6);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

label {
  visibility: hidden;
}

.get-meme {
  width: 100%;
  max-width: 45rem;
}

.get-meme--btn {
  width: 100%;
  height: 4.2rem;
  border: 0.1rem solid var(--secondary-color);
  border-radius: 0.5rem;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  padding: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  box-shadow: var(--box-shadow-color) 0rem 0.5rem 1.5rem;
}
.get-meme--btn:hover,
.get-meme--btn:focus {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.meme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
}

.meme-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 45rem;
}

.meme-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.meme-image--container {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-color) 0rem 0.5rem 1.5rem;
  border: 0.1rem solid var(--secondary-color);
  border-radius: 0.5rem;
  overflow: hidden;
}

.meme-image {
  width: 100%;
  object-fit: contain;
}

.meme-text {
  position: absolute;
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-color);
  -webkit-text-stroke: 0.1rem #212529;
  text-align: center;
  text-transform: uppercase;
  cursor: move;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.meme--text.top {
  top: 0;
  left: 0;
}

.meme--text.bottom {
  bottom: 0;
  left: 0;
}

.meme-form-group--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 45rem;
}

.top-text-container,
.bottom-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
}

.top-text,
.bottom-text {
  width: 100%;
  max-width: 45rem;
}

.top-text--input,
.bottom-text--input {
  width: 100%;
  height: 5rem;
  border: 0.1rem solid var(--secondary-color);
  border-radius: 0.5rem;
  text-indent: 1.2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.text-modifiers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  width: 100%;
  max-width: 35rem;
}

.meme-form-group--modifiers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.meme-form-group--modifiers:first-child {
  width: 50%;
}

.top-text--size,
.bottom-text--size {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1.3rem;
  background: var(--primary-color);
  outline: none;
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 1rem;
}

.top-text--size:hover,
.top-text--size:focus,
.bottom-text--size:hover,
.bottom-text--size:focus {
  opacity: 1;
}

.top-text--size::-webkit-slider-thumb,
.bottom-text--size::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--secondary-color);
  cursor: pointer;
  border-radius: 50%;
}

.top-text--size::-moz-range-thumb,
.bottom-text--size::-moz-range-thumb {
  width: 2.5rem;
  height: 2.5rem;
  background: var(--secondary-color);
  cursor: pointer;
}

.text-size--icon img {
  width: 2.2rem;
}

.text-color--icon img {
  width: 2.2rem;
  margin-top: 0.4rem;
}

.top-text--color,
.bottom-text--color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.6;
}

.top-text--color:hover,
.top-text--color:focus,
.bottom-text--color:hover,
.bottom-text--color:focus {
  opacity: 1;
}

.top-text--color::-webkit-color-swatch,
.bottom-text--color::-webkit-color-swatch {
  border-radius: 0.5rem;
  border: none;
}
.top-text--color:-moz-color-swatch,
.bottom-text--color::-moz-color-swatch {
  border-radius: 0.5rem;
  border: none;
}

.templates-container {
  height: 4rem;
  width: 100%;
  max-width: 45rem;
}

#meme {
  height: 70%;
  border-radius: 0.5rem;
  width: 100%;
  border: 0.1rem solid var(--secondary-color);
}

.meme-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 45rem;
}

.upload-meme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  width: 100%;
}

.upload-meme-container label {
  visibility: inherit;
  align-self: flex-start;
  border: 0.1rem solid var(--secondary-color);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.upload-meme-container label:hover,
.upload-meme-container label:focus {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

#upload {
  display: none;
}

.save-meme-container {
  width: 100%;
}

.save-meme--btn {
  width: 100%;
  max-width: 45rem;
  border: 0.1rem solid var(--secondary-color);
  border-radius: 0.5rem;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  box-shadow: var(--box-shadow-color) 0rem 0.5rem 1.5rem;
}

.save-meme--btn img {
  width: 3rem;
  filter: brightness(0.3) invert(1);
}

.save-meme--btn:hover,
.save-meme--btn:focus {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer h4 {
  font-size: 1.3rem;
  text-align: center;
  color: var(--primary-color);
  font-weight: 500;
}

@media (min-width: 769px) {
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main {
    padding-top: 1rem;
  }

  .title {
    font-size: 3.4rem;
    line-height: 3.9rem;
  }

  .title-description {
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .logo {
    max-width: 7rem;
  }

  .meme-container,
  .meme {
    width: 100%;
    max-width: 110rem;
  }

  .meme-title {
    width: 100%;
    font-size: 3rem;
    line-height: 4rem;
    color: var(--secondary-color);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
  }

  .meme-lord {
    display: inline-block;
    color: var(--primary-color);
    font-size: 4rem;
  }

  .meme-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    max-width: 110rem;
    height: 100%;
    max-height: 70rem;
  }

  .meme-form-wrapper {
    flex-grow: 1.8;
    flex-basis: 45rem;
    width: 100%;
    max-width: 70rem;
    height: 100%;
    max-height: 70rem;
    position: relative;
  }

  .meme-image--container {
    max-width: 70rem;
    max-height: 70rem;
  }

  .meme-image--container img {
    max-height: 70rem;
  }

  .meme-howto {
    position: absolute;
    bottom: -4rem;
    left: 0;
    font-size: 2rem;
  }

  .meme-howto-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .meme-howto-modal-content {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .meme-howto-modal-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .meme-howto-modal-close {
    font-size: 5rem;
  }

  .meme-howto-modal-close:focus,
  .meme-howto-modal-close:hover {
    transform: scale(1.5);
  }

  .meme-form-group--container {
    flex-grow: 1;
    flex-basis: 45rem;
    gap: 1.5rem;
  }

  .top-text--input,
  .bottom-text--input {
    height: 7rem;
  }

  .get-meme--btn,
  .save-meme--btn {
    font-size: 2.7rem;
    height: 7rem;
    background-color: var(--secondary-color);
  }

  .get-meme--btn:hover,
  .get-meme--btn:focus,
  .save-meme--btn:hover,
  .save-meme--btn:focus {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
  }

  .templates-container {
    height: 5rem;
  }

  #meme {
    max-height: 3.5rem;
  }

  .upload-meme-container label {
    margin-top: 0.5rem;
    font-size: 2rem;
    background-color: var(--tertiary-color);
  }

  .upload-meme-container label:hover,
  .upload-meme-container label:focus {
    background-color: var(--secondary-color);
  }
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  overflow: hidden;
}

.overlay-content {
  position: absolute;
  right: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  padding-left: 1.2rem;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 1rem 2rem var(box-shadow-color);
  width: 27.3rem;
  font-size: 1.8rem;
  line-height: 1.3;
  text-align: left;
  animation: breathe 4s infinite ease-in-out;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.overlay-content--get-meme {
  top: 30%;
}

.overlay-content--template {
  top: 37%;
}

.overlay-content--upload {
  top: 44%;
}

.overlay-content--text {
  top: 51%;
}

.overlay-content--style {
  top: 58%;
}

.overlay-content--save {
  top: 65%;
}
