@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #495057;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 50px;
}

header {
  padding: 10px 20px;
  width: 500px;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border-right: 1px solid #212529;
  border-top: 1px solid #212529;
  border-left: 1px solid #212529;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

main {
  padding: 20px 20px 20px 20px;
  width: 500px;
  height: 580px;
  /* height: 650px; */
  border-right: 1px solid #212529;
  border-bottom: 1px solid #212529;
  border-left: 1px solid #212529;
  background-color: #e9ecef;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.form--input {
  font-family: "Barlow", sans-serif;
  text-indent: 10px;
  border: 1px solid #212529;
  border-radius: 5px;
}

.form--btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Barlow", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #212529;
  border-radius: 5px;
  grid-column: 1 / -1;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.75px;
  color: #fff;
  cursor: pointer;
}

.btn--logo {
  max-height: 28px;
  filter: brightness(0.3) invert(1);
}

.meme-container {
  position: relative;
}

.meme-container img {
  max-width: 100%;
  max-height: 380px;
  object-fit: contain;
}

.meme--text {
  position: absolute;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 38px;
  color: #fff;
  -webkit-text-stroke: 1px #212529;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.meme--text.top {
  margin-top: 0px;
  margin-bottom: 0px;
  top: 0;
  left: 0;
  cursor: move;
}

.meme--text.bottom {
  margin-top: 0px;
  margin-bottom: 0px;
  bottom: 0;
  left: 0;
  cursor: move;
}

.download {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.download img {
  filter: brightness(0.3) invert(1);
}

/* .sliders {
  width: 50%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontal-slider {
  width: 100%;
  max-width: 150px;
  height: 10px;
  margin: auto;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-0 {
  background: #83a9ff;
}
.horizontal-slider .example-track {
  top: 0px;
  height: 10px;
}
.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
} */
